html{
  margin: 0 auto;
  padding: 0;
  font-family: "Gen Jyuu Gothic", "Otsutome_font", "Mukasi Mukasi",
    "Chenyuluoyan";
  background-image: url("./img/img/Q1.png");
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-color: #01235e;
  position: relative;
  text-align: center;
  overflow-x: hidden;
  background: cover;
}

/* 背景圖 Q4 */
.q4-background {
  background-image: url("./img/img/Q4 bg.png");
}


/* 背景圖 Q6 */
.q6-background {
  background-image: url("./img/img/Q6.png");
}

.q8-background {
  background-image: url("./img/img/q8\ bg_1@3x.png");
}

.final-background {
  background-image: url("./img/img/finall.png");
}