html{
    margin: 0;
    padding: 0;
    font-family: 'Gen Jyuu Gothic','Otsutome_font','Mukasi Mukasi','Chenyuluoyan';
}

h1{
    font-family: 'Otsutome_font';
}

h3{
    font-family: 'Chenyuluoyan';
}