html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.title {
  margin-bottom: 32px;
}
h2 {
  font-family: "Chenyuluoyan";
  font-weight: 300;
  color: white;
}

.start, .comic {
  border: none;
  padding: 10px 20px;
  margin: 12px 0;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  font-family: "Gen Jyuu Gothic";
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  
}

.start{
  
  background-image: url("./img/img/btn\ img@2x.png");
  width: 180px;
  padding: 6px 10px;
  margin: 12px 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.comic {
  margin-bottom: 60px;
}
