html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  overflow-x: hidden;
}

.progress {
  position: relative;
}
.logo {
  position: absolute;
  bottom: 12px;
  left: -6px;
}

.qa5 {
  position: absolute;
  bottom: 12px;
  left: 151px;
}

.qa_btn {
  width: 260px;
  padding: 15px 10px;
  margin: 12px 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  background-image: url("./img/img/btn\ img@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  font-family: "Gen Jyuu Gothic";
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.questions,
.question,
.final {
  width: auto;
  font-size: 16px;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
}

p.qa {
  font-weight: 500;
  text-align: left;
  width: 308px;
}

.question{
  opacity: 0;
  animation: fade 1.5s forwards; 
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p.q3 {
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  height: 320px; /* 根据需要调整波浪图像容器的高度 */
  top: -28px;
}

/* 波浪图像样式 */
.wave {
  position: absolute;
  height: auto;
}
/* 每个波浪图像的位置和大小 */
.one {
  height: 62px;
}
.two {
  height: 66px;
}
.three {
  height: 70px;
}
.four {
  height: 66px;
}
.five {
  height: 66px;
}

/* 波浪图像的堆叠顺序 */
.one,
.two,
.three,
.four,
.five {
  z-index: 1;
}

.one {
  top: 4rem;
  left: 2rem;
}
.two {
  top: 6rem;
  left: 7rem;
}
.three {
  top: 9rem;
  left: 0rem;
}
.four {
  top: 12rem;
  left: 7rem;
}
.five {
  top: 15rem;
  left: 2rem;
}

/*q2*/
.option {
  font-family: "Mukasi Mukasi";
  font-size: 18px;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  transition: transform 0.5s ease;
}
.slides {
  display: flex;
  transition: transform 0.5s ease;
}
.slide {
  display: block;
  height: 320px;
  justify-content: center; /* 在水平方向上居中 */
  align-items: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.biology,
.money,
.remains {
  flex: 0 0 100%;
  max-width: 100%;
}

.arrow-container {
  align-items: center;
}

.leftarrow_btn,
.rightarrow_btn,
.uparrow_btn {
  background: none;
  border: none;
  display: inline-block;
  vertical-align: middle;
}
.leftarrow_btn,
.rightarrow_btn {
  cursor: pointer;
}
.question {
  position: relative;
}

.leftarrow_btn {
  margin-right: 30%; /* 调整左箭头的位置 */
}

.rightarrow_btn {
  margin-left: 30%; /* 调整右箭头的位置 */
}

.selectBtn {
  width: 212px;
  height: 64px;
  padding: 12px 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  color: white;
  font-family: "Gen Jyuu Gothic";
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-image: url("./img/img/btn\ img\ s@4x.png");
  margin: 48px;
}

/*q4*/
.sea {
  margin: 20px 28px;
}
.ocean {
  margin: 25px 36px 0 0;
}
.warning p {
  font-size: 14px;
  color: aqua;
  margin: -10px;
}

p.q4 {
  margin-bottom: 40px;
}
.image-selection {
  text-align: center;
}
.image-selection img {
  cursor: pointer;
}

/*q5*/
.q5 img {
  margin-top: 46px;
}

/*q6*/
.q6 img {
  margin-top: 46px;
}

.qa_btn.q6 {
  background-image: url(./img/img/btn\ img\ large@3x.png);
  width: 309px;
  height: 128px;
  margin: -20px 0;
}

.qa_btn.q7 {
  width: 258px;
  height: 54px;
}

.qa_btn.q8 {
  background-image: url(./img/img/btn\ bb@3x.png);
  width: 258px;
  height: 54px;
}

.question[data-index="8"] {
  display: none;
}
.uparrow_btn {
  margin-top: 12px;
}

.tap_t {
  margin: 4px 0;
  font-weight: 600;
}
